@tailwind base;

@layer base {
    h1 {
        @apply text-2xl mb-2;
    }
    
    h2 {
        @apply text-xl mb-2;
    }

    h3 {
        @apply text-lg mb-2;
    }

    a {
        @apply underline text-green-900;
    }

    a:hover {
        @apply no-underline;
    }

    p, ul, ol {
        @apply mb-4;
    }

    ul li {
        list-style-type: disc;
        list-style-position: inside;
    }
}

@tailwind components;
@tailwind utilities;
